html {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
    background-color: white;
    margin: 0.5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    color: white;
    margin: 0rem 0rem;
    padding: 1.25rem; /* 20px */
    z-index: 1000;
    position: absolute;
}

.navbar a {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin-right: 1rem; /* Add space between nav items */
}


.logo {
    color: white;
    text-decoration: none;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

.banner {
    display: flex;
    background-image: url("../images/banner-mountain-range.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 750px;
    padding: 0rem 0rem 0;
    border-radius: 0.75rem;
}

.banner .title {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 1.75rem;
    font-weight: 700;
    margin-top: 0;
    padding: 2rem;
    width: auto;
}


.Categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Categories .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Categories .text a {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none; /* Remove underline */
}

.Categories .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.Categories .left-handed, .Categories .right-handed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
}

.Categories .Image, .Categories .text {
    flex: 1; /* Each will take up 50% of the parent container */
    max-width: 50%; /* Ensure they don't exceed 50% of the width */
    padding: 20px; /* Optional: Add padding for better spacing */
    aspect-ratio: 1 / 1; /* Ensure the height is equal to the width */
    display: flex; /* Ensure the content inside is centered */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}


.Categories .Image {
    height: 100%; /* Ensure the .Image container fills the height of the parent */
}

.Categories .Image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 1rem;
}




.catalogue {
    width: 95%;
    padding: 2rem 0 0 0;
    margin: 0 auto;
}

.filter-sort {
    display: flex;
    justify-content: space-between; /* Buttons links, Dropdown rechts */
    align-items: center; /* Zentriert die Elemente vertikal */
    margin-bottom: 20px;
}

.category-filter {
    text-align: left;
    margin-bottom: 1.25rem; /* 20px */
}

.filter-button {
    padding: 0.625rem 0.9375rem; /* 10px 15px */
    margin: 0.3125rem; /* 5px */
    cursor: pointer;
}

.filter-button:first-child {
    margin-left: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.post {
    display: flex;
    flex-direction: column;
    width: 32%;
    aspect-ratio: 1 / 1;
    padding: 0.9375rem; /* 15px */
    border: 0.0625rem solid #ccc; /* 1px */
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.1); /* 2px 2px 8px */
}

.post img {
    width: 100%;
    border-radius: 0.5rem; /* 8px */
}

.pagination {
    text-align: center;
    margin-top: 1.25rem; /* 20px */
}

.page-number, .prev, .next {
    margin: 0.3125rem; /* 5px */
    padding: 0.625rem 0.9375rem; /* 10px 15px */
    cursor: pointer;
}
